/* ===================обнуление================== */
@import 'null.css';

/* ===================fonts======================= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* ====================Общие свойства============== */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.wrapper {
    background: linear-gradient(106deg, rgba(8,158,205,1) 0%, rgba(111,203,214,0) 100%, rgba(0,255,16,0.5830707282913166) 100%);
    min-height: 100%;
    overflow: hidden;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.container *:last-child{
    margin-bottom: 0;
}
.title {
    color: #f5e942;
    text-shadow: 0px 0px 5px #000;
    font-size: 28px;
}
.title:hover{
    text-decoration: underline;
}
.description {
    width: 750px;
    font-size: 24px;
    line-height: 1.5;
    color: #0055ff;
    border:1px solid #0055ff;
    text-align: center;
    padding: 10px 10px;
}
.description:hover{
    box-shadow: inset 0px 0px 5px 2px blue;
}
.btn {
    width: 140px;
    display: inline-block;
    color:#fff;
    background: #00fff7;
    text-align: center;
    font-weight: 700;
    padding: 20px 0;
    border-radius: 5px;
    text-transform: uppercase;
}
.btn:hover {
    outline: 1px solid #fff;
    background: rgb(8,158,205);
}
/* ====================hover block====================== */

.hover {
    margin: 30px 0 50px;
}
.hover__title {
    text-align: center;
    margin-bottom: 30px;
}
.hover__description {
    width: 750px;
    margin:0 auto 30px;
    
}

.hover__paragraph {
    margin-bottom: 20px;
    color: #0059ff;
    line-height: 1.5;
}
.hover__paragraph p {
    display:block;
    margin-bottom: 10px;
}
.hover__paragraph p:hover{
    background: #befaf8;
}

.hover__link {
    margin-right: 20px;
    width: 140px;
    display: inline-block;
    color:#fff;
    background: #00fff7;
    text-align: center;
    font-weight: 700;
    padding: 20px 0;
    border-radius: 5px;
    text-transform: uppercase;
}

/* ====================active block========================= */

.active {
    margin-bottom: 30px;
}
.active__title {
    text-align: center;
    margin-bottom: 30px;
}
.active__description {
    width: 750px;
    margin: 0 auto 30px;
}
.active__links {
    margin-bottom: 30px;
}
.active__links a{
    font-size: 20px;
    display: inline-block;
    color: #80ff00;
}
.active__links div {
    margin-bottom: 10px;
}
.active__links div:first-child:active a {
    color:red
}
.active__links div:nth-child(2):active a {
    text-decoration: underline;
}
.active__links div:last-child:active a {
    outline: 0.5px solid #fff;
}
.active__links div:last-child {
    margin-bottom: 0;
}
.active__link {
    margin-right: 20px;
    background: #80ff00;
}
.active__link:last-child:active {
    background:#bdffb0;
    outline:1px solid #fff
}

/* ===============visited block================== */

.visited {
    margin-bottom: 30px;
}
.visited__title {
    text-align: center;
    margin-bottom: 30px;
}
.visited__description {
    margin: 0 auto 30px;
}
.visited__example {
    color: #ffee00;
}
.visited__example div {
    margin-bottom: 20px;
}
.visited__link {
    font-size: 22px;
}
.visited__link-1:visited {
    color:greenyellow;
    
}
.visited__link-2 {
    background-color: #befaf8;
}
.visited__link-2:visited {
    background-color: red;
}
.visited__link-3 {
    border: 1px solid #ffee00;
}
.visited__link-3:visited {
    border: 1px solid green;
}

/* ================focus block================== */

.focus {
    margin-bottom: 30px;
}
.focus__title {
    margin-bottom: 30px;
    text-align: center;
}
.focus__description {
    width: 750px;
    margin: 0 auto 30px;
}

.focus__btn {
    margin-bottom: 30px;
    background-color: #ff7a7a;
}
.focus__btn:focus{
    box-shadow: 0px 0px 10px 5px red;
    outline: none;
}

.focus__text {
    margin-bottom: 30px;
}
.focus__text a{
    display: block;
    color: #ff7a7a;
    line-height: 1.5;
}
.focus__text a:focus {
    box-shadow: 0px 0px 10px 5px red;
    outline: none;
}
.focus__input input {
    font-size: 20px;
    line-height: 20px;
    padding: 15px;
    border-radius: 5px;
}
.focus__input input:focus {
    box-shadow: 0px 0px 10px 5px red;
    outline: none;
}

/* ==================order block===================== */

.order {
    margin-bottom: 30px;
}
.order__title {
    text-align: center;
    margin-bottom: 30px;
}

.order__first,.order__last,.order__nth {
    width: 242px;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    background: #feffd4;
    text-align: center;
    padding-bottom: 10px;
}
.order__first p:not(.order__subtitle){
    font-size: 14px;
    color: #ff7a7a;
}
.order__first p:nth-child(2) {
    margin-bottom: 10px;
}
.order__last {
    margin:0 auto;
}
.order__last p:not(.order__subtitle){
    font-size: 14px;
    color: #ff7a7a;
}
.order__last p:nth-child(2) {
    margin-bottom: 10px;
}
.order__last p:not(.order__subtitle):hover,.order__first p:not(.order__subtitle):hover,.order__nth p:not(.order__subtitle):hover{
    color: red;
}
.order__nth {
    margin:0 0 20px auto;
}
.order__nth p:not(.order__subtitle){
    font-size: 14px;
    color: #ff7a7a;
}
.order__nth p{
    margin-bottom: 10px;
}
.order__nth *:last-child{
    margin-bottom: 0;
}
.order__subtitle {
    display: block;
    padding: 30px 0;
    color: #f5e942;
    line-height: 1.5;
}

/* ================line-letter block=========== */

.line-letter {
    margin-bottom: 50px;
}
.line-letter__title {
    text-align: center;
    margin-bottom: 30px;
}
.line-letter__description {
    width: 750px;
    margin:0 auto 30px;
}
.line-letter__example p {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    color: #147800;
}
.line-letter__example p:first-child::first-letter {
    font-size: 50px;
    color: red;
}
.line-letter__example p:hover:first-child::first-letter{
    color: #FFF;
}
.line-letter__example p:nth-child(2)::first-line{
    color:red; ;
} 
.line-letter__example p:hover:nth-child(2)::first-line{
    color:#fff; ;
} 

/* ================before-after============= */

.before-after__title {
    text-align: center;
    margin-bottom: 30px;
}
.before-after__description {
    width: 750px;
    margin:0 auto 30px;
}
.before-after__list {
    width: 260px;
    margin: 0 auto;
}
.before-after__list li:hover:first-child{
    color: #ff0000;
}
.before-after__list li:hover:nth-child(2){
    color: #ff5e00;
}
.before-after__list li:hover:nth-child(3){
    color: #ffbf00;
}
.before-after__list li:hover:nth-child(4){
    color: #d4ff00;
}
.before-after__list li:hover:nth-child(5){
    color: #15ff00;
}
.before-after__list li{
    font-weight: 700;
    color: #ff9494;
    margin-bottom: 10px;
    line-height: 1.5;
}
.before-after__list li::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/check-red.png)0 7px no-repeat;
    margin: 0 7px 0 0;
}
.before-after__list li::after{
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    background: red;
    margin: 10px auto;
}
.before-after__list li:hover:nth-child(2):after{
    width: 40%;
}
.before-after__list li:hover:nth-child(3):after{
    width: 60%;
}
.before-after__list li:hover:nth-child(4):after{
    width: 80%;
}
.before-after__list li:hover:last-child:after{
    width: 100%;
}